@{
    ViewData["Title"] = "SaudeSync - Bem-vindo!";
}

<div class="jumbotron">
    <h1 class="display-4">Gerenciamento de Saúde Simplificado</h1>
    <p class="lead">Bem-vindo ao SaudeSync, sua plataforma de gestão de saúde.</p>
    <hr class="my-4">
    <p>Aqui você pode facilmente gerenciar informações de pacientes, médicos, consultórios, consultas, prescrições e muito mais.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a>
    </p>
</div>
