@model SaudeSync.Entities.Prescricao

@{
    ViewData["Title"] = "Nova Prescrição";
}

<h1>Nova Prescrição</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Medicamento" class="control-label"></label>
                <input asp-for="Medicamento" class="form-control" />
                <span asp-validation-for="Medicamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dose" class="control-label"></label>
                <input asp-for="Dose" class="form-control" />
                <span asp-validation-for="Dose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsultaId" class="control-label"></label>
                <input asp-for="ConsultaId" class="form-control" />
                <span asp-validation-for="ConsultaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar Prescrição" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
